<!-- Creamos la parte visual de la calculadora con todos los numeros y las principales operaciones -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Calculadora</h5>
          <div class="card-text">
            <div class="row">
              <div class="col-md-12">
                <input type="text" class="form-control display" [(ngModel)]="resultado" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(1)">1</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(2)">2</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(3)">3</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-danger" (click)="agregarOperacion('+')">+</button>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(4)">4</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(5)">5</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(6)">6</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-danger" (click)="agregarOperacion('-')">-</button>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(7)">7</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(8)">8</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(9)">9</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-danger" (click)="agregarOperacion('*')">*</button>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button type="button" class="btn btn-primary" (click)="agregarNumero(0)">0</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-danger" (click)="agregarOperacion('/')">/</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-success" (click)="calcular()">=</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-warning" (click)="limpiar()">C</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>